<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>SecretSanta</title>
    <link rel="stylesheet" href="{{ . }}/css/materialize.min.css">
    <link rel="stylesheet" href="{{ . }}/css/fonts.css">
    <style>
        td, th {
            padding: 0 1rem;
            line-height: normal;
        }
    </style>
</head>
<body>
<div class="container">

    <div class="row">
        <div class="col s12">
            <h2>Participants (<span data-bind="text: santas().length"></span>)</h2>
        </div>
    </div>

    <div class="row">
        <form class="col s12" data-bind="submit: addSanta">
            <div class="row">
                <div class="input-field col s6">
                    <input type="text" id="new_name" data-bind="value: newName">
                    <label for="new_name">Name</label>
                </div>
                <div class="input-field col s6">
                    <input type="email" id="new_mail" data-bind="value: newMail">
                    <label for="new_mail">E-Mail</label>
                </div>
            </div>
            <div class="row">
                <div class="col s12 right-align">
                    <button class="waves-effect waves-light btn-small green black-text" type="submit">
                        <i class="material-icons left">add</i>
                        Add a Santa
                    </button>
                    <button data-bind="click: goToContent, disable: santas().length < 3"
                            class="waves-effect waves-light btn-small blue black-text">
                        <i class="material-icons left">mode_edit</i>
                        Next step
                    </button>
                    <div data-bind="visible: santas().length < 3">
                        <small>(You need at least three participants to progress)</small>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="row" data-bind="visible: santas().length > 0">
        <div class="col s12">
            <table class="striped">
                <thead>
                <tr>
                    <th>Santa's name</th>
                    <th>Santa's e-mail address</th>
                    <th></th>
                </tr>
                </thead>
                <tbody data-bind="foreach: santas">
                <tr>
                    <td><p data-bind="text: name"></p></td>
                    <td><p data-bind="text: mail"></p></td>
                    <td><a href="#" data-bind="click: $root.removeSanta">Remove</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<script type="text/javascript" src="{{ . }}/js/materialize.min.js"></script>
<script type="text/javascript" src="{{ . }}/js/knockout-3.4.2.min.js"></script>
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {

        function Santa(name, mail) {
            let self = this;
            self.name = name;
            self.mail = mail;
        }

        function SantaViewModel() {
            let self = this,
                newNameField = document.getElementById("new_name");

            self.newName = ko.observable();
            self.newMail = ko.observable();
            self.santas = ko.observableArray([]);

            self.GetPreviews = function () {
                let host = '{{ . }}',
                    xhr = new XMLHttpRequest();
                xhr.open('GET', host + '/santas');
                xhr.onload = function () {
                    if (xhr.status === 200) {
                        let santaJson = JSON.parse(xhr.responseText);
                        self.santas(santaJson.map(function (santa) {
                            return new Santa(santa.name, santa.mail);
                        }))
                    }
                };
                xhr.send();
            };
            self.GetPreviews();


            self.addSanta = function () {
                let valid = true,
                    name = self.newName(),
                    mail = self.newMail();
                let isUnique = self.isUniqueMail(mail);
                if (!isUnique) {
                    M.toast({
                        html: '<i class="material-icons left">error</i>mail address already exists',
                        classes: 'rounded red'
                    });
                    valid = false;
                }
                if (!name) {
                    M.toast({html: '<i class="material-icons left">error</i>invalid name', classes: 'rounded red'});
                    valid = false;
                }
                if (!mail) {
                    M.toast({html: '<i class="material-icons left">error</i>invalid mail', classes: 'rounded red'});
                    valid = false;
                }
                if (!valid) {
                    return;
                }
                M.Toast.dismissAll();
                M.toast({
                    html: '<i class="material-icons left">done</i>successfully added ' + name,
                    classes: 'rounded green'
                });
                self.newName("");
                self.newMail("");
                let newSanta = new Santa(name, mail);
                self.santas.push(newSanta);
                newNameField.focus();
                let xhr = new XMLHttpRequest();
                let params = Object.keys(newSanta).map(
                    function (k) {
                        return encodeURIComponent(k) + '=' + encodeURIComponent(newSanta[k])
                    }
                ).join('&');
                xhr.open('POST', '{{ . }}/santas', true);
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded; charset=UTF-8');
                xhr.send(params);
            };

            self.isUniqueMail = function (mail) {
                for (let santa of self.santas()) {
                    if (santa.mail === mail) {
                        return false;
                    }
                }
                return true;
            };

            self.removeSanta = function (santa) {
                self.santas.remove(santa);
                let request = new XMLHttpRequest();
                request.open('DELETE', '{{ . }}/santas/' + encodeURIComponent(santa.mail), true);
                request.send();
            };

            self.goToContent = function () {
                window.location = "{{ . }}/content.html";
            };
        }

        ko.applyBindings(new SantaViewModel());

    });
</script>
</body>
</html>
